# python cache
*.pyc
__pycache__/
.ipynb_checkpoints/
.jupyter/

# build files
cmake-build-debug/
CMakeLists.txt

# virtual environment
venv/

# JetBrains IDE
.idea/
.virtual_documents/

# MacOS trash
.DS_Store
notebooks/catboost_info/catboost_training.json
*time_left.tsv
*learn_error.tsv
*events.out.tfevents
*/catboost_info/tmp/cat_feature_index.2b5e7e35-ee9e8f21-f34c03ee-2985f52.tmp
